<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>CareerCopilot</title>

    <link rel="stylesheet"
          href="/static/style.css">

    <script
        src="https://cdn.jsdelivr.net/npm/marked/marked.min.js">
    </script>
</head>

<body>

<div class="container">

    <aside class="sidebar">

        <div class="brand">

            <h1>Resume Analyzer</h1>

            <p>Your AI-powered career assistant</p>

        </div>

        <button class="new-chat">
            + New Chat
        </button>

        <div class="uploaded-files">

            <h3>Uploaded CVs</h3>

            <ul id="file-list"></ul>

        </div>

        <div class="suggestions">

            <h3>Suggested Questions</h3>

            <button class="suggestion">
                What are my strengths?
            </button>

            <button class="suggestion">
                What skills are missing?
            </button>

            <button class="suggestion">
                Recommend suitable jobs.
            </button>

            <button class="suggestion">
                Create a learning roadmap.
            </button>

        </div>

    </aside>

    <main class="chat-section">

        <div class="chat-header">

            <h2>Career Assistant</h2>

        </div>

        <div class="upload-box">

            <input
                type="file"
                id="upload"
                accept=".pdf,.docx"
                hidden>

            <label
                for="upload"
                class="drop-area">

                <h3> Upload Resumes</h3>

                <p>
                    Drag and drop files or click to browse
                </p>

            </label>

        </div>

        <div
            class="chat-window"
            id="chat-window">

        </div>

        <div class="chat-input">

            <input
                type="text"
                id="question"
                placeholder="Ask about your resume...">

            <button id="send">

                Send

            </button>

        </div>

    </main>

</div>

<script src="/static/script.js"></script>

</body>
</html>